.clock {
    display: flex;
    gap: 8px;

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    margin: 8px;
    color: #001E50;
}

.decimal-digits-box {
    background-color: #ED6B6A;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digits {
    display: inline-flex;
    gap: 8px;
}

.digit-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}